$primary-dark: #380200;
$primary-highlight-bold: #FB0006;
$primary-highlight: #BC0004;
$primary-light-slate: #F5F5F5;
$primary-slate: #EDEDED;

$secondary-red: #C7254E;
$secondary-blue: #5BA7E9;
$secondary-green: #3EC330;
$secondary-dark-sand: #D1C4C0;
$secondary-light-sand: #E8E2E0;
$secondary-dark-slate: #838383;

$base-color: $primary-dark;
$background-color: white;
$content-background-color: $primary-light-slate;
$highlight-on-dark-background-color: $secondary-dark-slate;

$cocoapods-highlight-color: $primary-highlight-bold;
$blog-hover-color: $primary-dark;

$nav-color: $background-color;
$nav-hover-color: $base-color;

$footer-background-color: $primary-dark;
$footer-link-hover-color: white;

$search-background-color: $secondary-dark-sand;

$fonts: "GT Walsheim", "gt_walsheim_regular", "Avant Garde Gothic ITCW01Dm", "Avant Garde", "Helvetica Neue", "Arial";
