@import "bootstrap"; // Bootstrap includes normalize.css
@import "vars";
// @import "custom";

// Overriding navbar for custom colors
.navbar {
  background-color: $base-color;
  border: none;
  color: red;
}

.navbar-nav {
  li a {
    font-family: 'Georgia';
    font-size: 16px;
    font-weight: bold;
    color: $background-color;
  }

  > .active > a {
    color: $base-color;
    background-color: $background-color;
  }
}

.navbar-brand {
  background: url("/img/CP_logo_rough.png") no-repeat left center;
  height: 50px;
  width: 201px;
}

.navbar-toggle {
  border-color: $background-color;
  &:hover,
  &:focus {
    background-color: $background-color;

    .icon-bar {
      background-color: $base-color;
    }
  }
  .icon-bar {
    background-color: $background-color;
  }
}

#blog-header {
  color: $base-color;
  font-family: $strong-fonts;
  font-weight: bold;
}

