// Bootstrap includes normalize.css

@import "bootstrap"; 
@import "fonts";
@import "vars";
@import "syntax";

///  Baseline colours & fonts

body {
  font-family: $fonts;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $fonts;
}

p {
  font-size: 18px;
  line-height: 1.4em;
  margin: 32px 0 32px;
}

a {
  color: $blog-highlight-color;
  
  &:hover, &:focus {
    color: $blog-hover-color;
  }
}

///// Navigation

.navbar {
  background-color: $base-color;
  border: none;
  margin: 0;
  padding: 0;
}

.navbar-nav {
  > li > a {
    font-family: "GT Walsheim";
    font-size: 16px;
    color: $background-color;
    text-transform: uppercase;
    padding-top: 24px;
    padding-bottom:6px;
    height: 50px;
    letter-spacing: 1.2pt;
    
    &:hover,
    &:focus {
      color: $nav-color;      
      background-color: $base-color;
      padding-bottom: 5px;
      border-bottom: 4px $blog-highlight-color solid;
    }
    
    &:active {
      color: lighten($nav-color, 10%);
    }
  }

  > .active > a {
    border-bottom: 4px $blog-highlight-color solid;
    padding-bottom: 5px;
    background-color: $base-color;
    color: $nav-color;      
    
    &:hover,
    &:focus {
      color: $nav-color;
      background-color: $base-color;
    }
  }
}

.navbar-brand {
  background: url("/img/cocoapods_logo.png") no-repeat left center;
  height: 50px;
  width: 201px;
}

.navbar-toggle {
  border-color: $background-color;
  &:hover,
  &:focus {
    background-color: $background-color;

    .icon-bar {
      background-color: $base-color;
    }
  }
  .icon-bar {
    background-color: $background-color;
  }
}

/// Headline

.headline {
  color: $blog-highlight-color;
  display: block;
  font-size: 40px;
  height: 340px;
}

.headline.index {
  text-align: center;
  
  h1 {
    font-size: 72px;
    padding-top: 110px;
    padding-bottom: 18px;
  }
}

$divider-color: #bbb;


@mixin arrow-down($size, $color) {
	border-left: $size solid transparent;
	border-right: $size solid transparent;
	border-top: $size solid $color;

  height: 0;
  margin: 0 auto;
  width: 0;
}


.horizontal-divider {
  background-color: $divider-color;
  box-shadow: 1px 1px 1px #ddd;
  display: block;
  height: 1px;
  margin: 0 auto;
  width: 50%;
}
.sidebar .enclosed-arrow-down {
  @include arrow-down(13px, $content-background-color);
  margin-top:-15px;
}

.enclosed-arrow-down {
  @include arrow-down(13px, white);
  margin-top:-15px;
}
.arrow-down {
  @include arrow-down(15px, $divider-color);
}

#content-wrapper {
  background-color: $content-background-color;
  margin: 0;
  padding: 0;
}

.row {
  padding:20px 0;
}

.gravatar {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

footer.page-footer {
  background-color: $footer-background-color;
  padding:50px 0;
  color:white;
  
  p {
    margin:0 0 20px;
    font-size:18px;
  }
  
  article.minor p {
    margin:0 0 14px;
    font-size:14px;    
  }
  
  a:hover, a:focus {
    color: $footer-link-hover-color;
  }
}