footer.page-footer
  section.container
    .row
      article.col-md-8.col-lg-8.col-sm-12.col-md-offset-2.col-lg-offset-2.col-xs-12

        h4 CocoaPods is a project from
        p.contributors
          | <a href="https://twitter.com/alloy">Eloy Durán</a>,&nbsp;
          | <a href="https://twitter.com/fabiopelosin">Fabio Pelosin</a>,&nbsp;
          | <a href="http://orta.github.io">Orta Therox</a>&nbsp;
          | and&nbsp;
          | <a href="http://cocoapods.org/about">The CocoaPods Dev Team</a>&nbsp;
          | with contributions from <a href="https://github.com/CocoaPods/Specs/graphs/contributors">many, many others</a>.

        h4 Lovingly sponsored by
        p.sponsors
          | <a href="http://artsy.net">Artsy</a>,&nbsp;
          | <a href="http://www.fngtps.com">Fingertips</a>,&nbsp;
          | <a href="https://www.heroku.com">Heroku</a>,&nbsp;
          | <a href="http://www.rubymotion.com">RubyMotion</a>,&nbsp;
          | <a href="https://www.sauspiel.de">Sauspiel</a>,&nbsp;
          | <a href="https://www.slack.com">Slack</a>,&nbsp;
          | <a href="https://www.soundcloud.com">SoundCloud</a>,&nbsp;
          | <a href="https://www.stripe.com">Stripe</a> and&nbsp;
          | <a href="http://www.technologyastronauts.ch">Technology&nbsp;Astronauts</a>.

      article class="col-md-8 col-md-offset-2 minor"

footer.footer-links
  section.container
    .row
      article.col-md-8.col-lg-8.col-sm-12.col-md-offset-2.col-lg-offset-2.col-xs-12

        a.cocoapods-small-logo href="http://cocoapods.org"

        ul
          li.col-md-3.col-sm-3.col-xs-6 <a href="http://guides.cocoapods.org/using/troubleshooting.html">Support</a>
          li.col-md-3.col-sm-3.col-xs-6 <a href="https://github.com/CocoaPods/CocoaPods">Github Repo</a>
          li.col-md-3.col-sm-3.col-xs-6 <a href="https://github.com/CocoaPods/Specs">Podspecs Repo</a>
          li.col-md-3.col-sm-3.col-xs-6 <a href="https://twitter.com/CocoaPods">@CocoaPods</a>
          li.col-md-3.col-sm-3.col-xs-6 <a href="http://groups.google.com/group/cocoapods">Mailing List</a>
          li.col-md-3.col-sm-3.col-xs-6 <a href="http://cocoapods.org/about"><span class="visible-lg-span">CocoaPods</span> Dev Team</a>
          li.col-md-3.col-sm-3.col-xs-6 <a href="http://guides.cocoapods.org/syntax/podfile.html">Podfile Doc<span class="hidden-lg-span">s</span><span class="visible-lg-span">umentation</span></a>
          li.col-md-3.col-sm-3.col-xs-6 <a href="http://cocoapods.org/legal">Legal / Conduct</a>
