footer class="page-footer"
  section class="container row"
    article class="col-md-8 col-md-offset-2"
      p CocoaPods is a project from <a href="https://github.com/alloy">Eloy Durán</a>, <a href="https://github.com/irrationalfan">Fabio Pelosin</a>, <a href="https://orta.github.io">Orta Therox</a>,  and The CocoaPods Dev Team with contributions from <a href="https://github.com/CocoaPods/Specs/graphs/contributors">many, many others</a>.
       
      p
        | Lovingly sponsored by 
        | <a href="http://www.fngtps.com">Fingertips</a>, 
        | <a href = "http://www.hipbyte.com">Hipbyte</a>, 
        | <a href="http://artsy.net">Artsy</a> and 
        | <a href="https://www.sauspiel.de">Sauspiel</a>.
    
    article class="col-md-4 minor col-md-offset-2"
      p
        | Website and API by 
        |<a href="http://twitter.com/hanke">Florian Hanke</a>, 
        | The CocoaPods Dev Team and 
        | <a href="http://twitter.com/manfreds">Manfred Stienstra</a>.

    article class="col-md-4 minor"

      p
        | Design by 
        | <a href="http://andy-myers.co.uk">Andy Myers</a>, 
        | <a href="http://orta.github.io">Orta Therox</a>, 
        | <a href="http://markovics.com">Philipp Markovics</a>,  
        | <a href="http://twitter.com/hanke">Florian Hanke</a> and 
        | <a href="http://twitter/maxsteenbergen">Max Steenbergen</a>
      
    article class="col-md-8 col-md-offset-2 minor"
      p 
        | <a href="http://cocoapods.org/support">Support</a>, 
        | <a href="https://github.com/CocoaPods/CocoaPods">Github Repo</a>, 
        | <a href="https://github.com/CocoaPods/Specs">Podspecs Repo</a>, 
        | <a href="https://guides.cocoapods.org">Podspec Documentation</a>, 
        | <span class="visible-lg-span"><a href="https://api.cocoapods.org">Developer Reference</a>, </span>
        | <a href="http://groups.google.com/group/cocoapods">Mailing List</a> &amp; 
        | <a href="http://twitter.com/CocoaPods">@CocoaPods</a>. 