footer.page-footer
  section.container.row
    article.col-md-8.col-md-offset-2

      h4 CocoaPods is a project from 
      p.contributors
        | <a href="https://twitter.com/alloy">Eloy Durán</a>, 
        | <a href="https://twitter.com/fabiopelosin">Fabio Pelosin</a>, 
        | <a href="http://orta.github.io">Orta Therox</a>,  
        | and The CocoaPods Dev Team with contributions from <a href="https://github.com/CocoaPods/Specs/graphs/contributors">many, many others</a>.

      h4 Lovingly sponsored by
      p.sponsors
        | <a href="http://www.fngtps.com">Fingertips</a>, 
        | <a href = "http://www.hipbyte.com">Hipbyte</a>, 
        | <a href="http://artsy.net">Artsy</a> and 
        | <a href="https://www.sauspiel.de">Sauspiel</a>.
      
    article class="col-md-8 col-md-offset-2 minor"

footer.footer-links
  section.container.row
    article.col-md-8.col-md-offset-2
      a.cocoapods-small-logo href="http://beta.cocoapods.org"
        
      ul 
        li.col-md-3.col-sm-3.col-xs-6 <a href="http://guides.cocoapods.org/using/troubleshooting.html">Support</a>
        li.col-md-3.col-sm-3.col-xs-6 <a href="https://github.com/CocoaPods/CocoaPods">Github Repo</a>
        li.col-md-3.col-sm-3.col-xs-6 <a href="https://github.com/CocoaPods/Specs">Podspecs Repo</a>
        li.col-md-3.col-sm-3.col-xs-6 <a href="https://twitter.com/CocoaPods">@CocoaPods</a>
        li.col-md-3.col-sm-3.col-xs-6 <a href="http://groups.google.com/group/cocoapods">Mailing List</a>
        li.col-md-3.col-sm-3.col-xs-6 <a href="http://beta.cocoapods.org/about">CocoaPods Dev Team</a>
        li.col-md-3.col-sm-3.col-xs-6 <a href="http://guides.cocoapods.org/syntax/podfile.html">Podfile Doc<span class="hidden-lg-span">s</span><span class="visible-lg-span">umentation</span></a>
        li.col-md-3.col-sm-3.col-xs-6 <a href="https://twitter.com/CocoaPodsFeed">@CocoaPodsFeed</a>
        
