ruby:
  is_guides = defined? guides
  is_api = defined? api
  is_blog = defined? site && site.keys
  is_home = defined? home

  
  def is_active active
    if active
      { :class => "active" }
    else
      {}
    end
  end
  
nav.navbar.navbar-static-top role="navigation"
  section.container
    div.navbar-header
    
      button.navbar-toggle type="button" data-toggle="collapse" data-target=".navbar-header-collapse"
        span.sr-only == "Toggle navigation"
        span.icon-bar
        span.icon-bar
        span.icon-bar

      a.navbar-brand href="http://beta.cocoapods.org"

    div.collapse.navbar-collapse.navbar-header-collapse
      ul.nav.navbar-nav.navbar-right

        li *is_active(is_home)
          a href="http://beta.cocoapods.org/about" == "About"
        
        li *is_active(is_guides)
          a href="http://guides.cocoapods.org" == "Guides"
          
        li *is_active(is_blog)
          a href="http://blog.cocoapods.org" == "Blog"